th, tr, td {
    border: 1px solid black;
}

table{
    border-collapse: collapse;
}

tr:hover{
    background-color:gray;
    color: yellow;
    }

th {
    text-align: center;
}

td {
    height: 50px;
    width: 100px;
    text-align: center
}

.update, .view{
    height: 50px;
    width: 100px;
}

